@model WebService.Models.UserViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Please tell us, if you take part in the meeting</h2>

    <div class="container">
        <div class="row" style="padding-top: 6em">
            <div class="col-sm"></div>
            <div class="col col-sm-2">
                @using (Html.BeginForm("Unregister", "Home", FormMethod.Post))
                {
                    <button class="btn btn-danger">Sign out</button>
                }
            </div>
            <div class="col col-sm-2">
                @using (Html.BeginForm("Register", "Home", new { Name = Model.Name }, FormMethod.Post))
                {
                    <button class="btn btn-success">Sign in</button>
                }
            </div>
            <div class="col-sm"></div>
        </div>
        </div>

</div>
