@model WebService.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Hello @Model.Name</h2>
    Here, Action name=Register, ControllerName=Home.
    @using (Html.BeginForm("Register", "Home", new { Name = Model.Name }, FormMethod.Post))
    {
        <button>Register</button>
    }
</div>
