
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Please tell us, if you take part in the meeting</h2>

    <div class="container">
        <div class="row" style="padding-top: 6em">
            <div class="col-sm"><h1>Hello hello</h1></div>
        </div>
        </div>

</div>
