@{
    ViewData["Title"] = "Signed in page";
}

<div class="text-center container">
    <div class="row">
        <div class="col-sm">
            <p>You have been signed out!</p>
            <a class="btn btn-primary stretched-link" asp-area="" asp-controller="Home" asp-action="Index">Go back to home</a>
        </div>
    </div>
</div>
