@model IEnumerable<MeetingViewModel>

<div class="container">
    <div class="row">
        <div class="col=sm">
            <p>Choose existing team or <a>create a new one</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col=sm">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Created at</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var meeting in @Model)
                    {
                    <tr>
                        <td>@meeting.Name</td>
                        <td>@meeting.Created.ToLocalTime()</td>
                        <td>
                            <a class="btn btn-primary"
                               asp-area=""
                               asp-controller="Meetings"
                               asp-action="Participants"
                               asp-route-meetingId="@meeting.Id">Show participants</a>
                        </td>
                        <td><button class="btn btn-success">Join</button></td>

                    </tr>
                    }
                </tbody>
                </table>
        </div>
    </div>
</div>