@model ParticipantsViewModel

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>@Model.MeetingName</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <tbody>
                    @foreach (var participant in Model.Participants)
                    {
                        @if (participant.IsLeader)
                        {
                            <tr style="background-color: azure">
                                <td>@participant.Name</td>
                                <td>
                                    @using (Html.BeginForm("Join", "Meetings", new { meetingId = Model.MeetingId }, FormMethod.Post))
                                    {
                                        <button class="btn btn-warning" style="float: right">Unlead</button>
                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@participant.Name</td>
                                <td>
                                    @using (Html.BeginForm("JoinAsLeader", "Meetings", new { meetingId = Model.MeetingId }, FormMethod.Post))
                                    {
                                        <button class="btn btn-primary" style="float: right">Lead</button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
